body{
    margin: 0;
    width: 100vw;
    
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans" Arial, Helvetica, sans-serif;
    background-color: #060F1E;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    
}

.EstrelasBackground{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 800vh;
    /* border: solid green; */
    background-image: url('./../assets/Lancamento/Estrelas.png'); 
    background-position: 0 0;
    background-repeat: repeat; 
    background-size: contain; 
    
}
body::-webkit-scrollbar {
    /* Esconder a barra de rolagem sem tirar a função dela */
    width: 0; 
    height: 0;
}
 /* Versão um */
@keyframes flutuacaoSolta1 {
  0%   { 
    transform: translate(0, 0); 
  }
  15%  { 
    /* Aumentado de -3px para -8px em X, e de -8px para -15px em Y */
    transform: translate(-8px, -15px); /* Movimento mais forte para cima/esquerda */
  }
  38%  { 
    /* Aumentado de 5px para 12px em X, e de 3px para 8px em Y */
    transform: translate(12px, 8px);  /* Movimento grande para baixo/direita */
  }
  50%  { 
    /* Aumentado de 8px para 15px em X, e de -5px para -10px em Y */
    transform: translate(15px, -10px); /* Ponto máximo para direita/acima */
  }
  77%  { 
    /* Aumentado de -5px para -10px em X, e de 6px para 12px em Y */
    transform: translate(-10px, 12px); /* Movimento forte para baixo/esquerda */
  }
  100% { 
    transform: translate(0, 0);      /* Volta ao início */
  }
}



/* NAVBAR */
.NavBar{
    z-index: 10;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid #FF2; */
    animation-name: flutuacaoSolta1;
    animation-duration: 30s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}
.NavBar .container-main-Navbar{
    display: flex;
    border: solid #FFFF;
    margin-top: 10px;
    border-radius: 15px;
    width: 80%;
    height: 70px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container-main-Navbar .Imagem img{
    width: 70px;
    margin-bottom: -10px;
}
/* Options */
.container-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* border: solid #CFF3; */
    gap: 20px;
}




.Option-ativo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.Option-desativo span{
    color: #FFFF;
    font-size: 20px;
    cursor: pointer;
}
.Option-desativo img{
    width: 20px;
    display: none;
}
.Option-ativo span{
    color: #4CBCC3;
    font-size: 25px;
}
.Option-ativo img{
    width: 20px;
    vertical-align: middle;
    margin: 0;
    
}


/* FIM OPTION */
.container-profile{
    display: flex;
    flex-direction: row;
}
.container-profile img{
    width: 25px;
}
.container-loginECadastro button{
    background-color: #241860;
    border: 0.1rem solid white;
    box-shadow: 5px 3px 4px 0.1rem #ffffff35;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* ///////// FIM DA NAVBAR ///////////// */

/* ///////// Historia ///////////// */


.container-main{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border: red solid; */
    z-index: 1;
}



.container-imagem-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: contain;
}
.container-imagem-main img{
margin-top: -100px;
    width: 100%;
    object-fit: contain;
}


.containerHistoria{
    display: flex;
    flex-direction: row;
    /* border: solid red; */
    padding: 5%;
    align-items: center;
}
.containerHistoria .subcontainer-imagem img{
    width: 600px;
}
.containerHistoria .subcontainer-texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: #4CBCC3 solid; */
    padding: 3%;
    padding-top: 1%;
}
.containerHistoria .subcontainer-texto.imagem{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: white;
    justify-content: center;
    padding: 0;
}
.containerHistoria .subcontainer-texto.imagem img{
    width: 6%;
}
.subcontainer-texto hr{
    width: 80%;
}
.subcontainer-texto p{
    color: white;
    font-size: 15px;
    margin: 0;
    margin-bottom: 9px;
}

/* ///////// FIM DA HISTORIA ///////////// */


/* ///////// ATLAS COSMICO ///////////// */


.container-main-planeta{
    width: 100%;
    height: 100%;
    border: solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-main-planeta .subcontainer-title{
     display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: white;
    justify-content: center;
    padding: 0;
}
 .container-main-planeta .subcontainer-title img{ 
    width: 10%;
}
.container-planetas-main{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    /* border: solid white; */
}
.container-planetas-main img{
    margin-top: 10px;
    width: 55%;
    border: 01.rem solid white;
}
.container-planetas-main hr{
    width: 50%;
}
.container-planetas-main .hr2{
    width: 40%;
    margin-top: 50px;
}




/* CONTAINER MODELO 1 PLANETA */
.container-planeta-modelo{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 90%;
    /* border: solid black; */
} 
.container-planeta-modelo .image{
    width: 50%;
    text-align: center;
    /* border: #241860 solid; */
}
.container-planeta-modelo img{
  width: 50%;
}
.containerinfos{
    /* border: solid white; */
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.containerinfos .subcontainer-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: white;
    justify-content: center;
    padding: 0;
    font-size: 15px;
}
.containerinfos .subcontainer-title img{
    width: 5%;
}
.containerinfos p{
    color: white;
    font-size: 20px;
    margin: 0;
    margin-bottom: 9px;
}
.containerinfos .Texto{
    padding: 0 7%;
    margin-top: 10px;

}

.container-planeta-modelo .image-GemosAmpulheta{
    /* border: #e100ff solid; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-planeta-modelo .image-GemosAmpulheta img{
    width: 65%;
}
/* /////////////FIM MODELO ////////////////// */

.HRPLANETA{
    width: 30%;
    color: white;
    margin-top: 50px;
}
.container-supernova{
    /* border: solid black; */
    width: 200px;
    position: absolute;
    right: 0;
    margin-top: -130px;
    
}
.container-supernova img{
    object-fit: cover;
    width: 100%;

}


/* ///////// FIM DA ATLAS COSMICO ///////////// */