body{
    margin: 0;

}
.container-main{
    width: 100vw;
    height: 100vh;
}
.container-main-image{
    width: 60%;
    height: 100%;
    border: solid black 1px;
}
.container-main-image img{
    
}